
.carousel{
  width: 900px;
  height: 600px;
}
.carousel-cell {
  width: 900px;
  height: 600px;
  margin-right: 10px;
  border-radius: 5px;
}

.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.masked-image {
  mask: radial-gradient(circle, transparent 70%, black 100%);
}
