<div class="relative bg-cyan-800 h-96 w-full px-44 py-5 border-t-4 border-gray-300 felx justify-center items-center flex-col border-b-4">



  <div class="flex flex-row justify-evenly items-center">
        <div>
          <p class="text-gray-900 font-normal text-5xl m-0">Electro<span class="text-white font-extrabold">shop</span></p>
        </div>
        <div class=" flex gap-4 text-xl text-slate-400 ">
          <a href=""><i class="fa-brands fa-facebook-f hover:text-white transition-all duration-300" title="Join Us on facebook"></i></a>
          <a href=""><i class="fa-brands fa-x-twitter hover:text-white transition-all duration-300" title="Join Us on twitter"></i></a>
          <a href=""><i class="fa-brands fa-instagram hover:text-white transition-all duration-300" title="Join Us on instagram"></i></a>
          <a href=""><i class="fa-brands fa-linkedin-in hover:text-white transition-all duration-300" title="Join Us on linkedin"></i></a>
        </div>
        <div class="text-white">
          <p><i class="fa-solid fa-phone"></i> +212 5-00-00-00-00</p>
        </div>
  </div>


  <nav class="bg-gray-900 shadow-md p-4 mx-20 my-6 ">
      <div class="container mx-auto flex justify-between items-center">
        <div class="space-x-4">
          <a href="#" class="text-white hover:bg-cyan-600 border transition-all duration-300 px-3 py-1">Home</a>
          <a href="#" class="text-white hover:bg-cyan-600 border transition-all duration-300 px-3 py-1">About</a>
          <a href="#" class="text-white hover:bg-cyan-600 border transition-all duration-300 px-3 py-1">Services</a>
          <a href="#" class="text-white hover:bg-cyan-600 border transition-all duration-300 px-3 py-1">Contact</a>
        </div>
        <div class="flex flex-row space-x-2 text-center justify-center items-center">
          <a href="#" class="text-white hover:text-cyan-600 transition-all duration-300"><i class="fa-solid fa-basket-shopping "></i></a>
          <span class="text-white">( 0 item )</span>
        </div>
        <div class="space-x-3 flex justify-center items-center">
          <input type="search" class="outline-none bg-slate-300 px-2 py-1" placeholder="Enter a search key...">
          <a href="" class="hover:text-cyan-600 transition-all duration-300"><i class="fa-solid fa-magnifying-glass text-white hover:text-cyan-600 transition-all duration-300"></i></a>
        </div>
        <div class="space-x-4 font-bold">
          <a href="" class=" text-cyan-500">Login</a>
          <a href="" class=" text-slate-400 hover:text-white transition-all duration-300">Register</a>
        </div>
      </div>
  </nav>




  <div class="absolute object-cover top-56 left-1/2 transform -translate-x-1/2 border-4 border-gray-300  bg-gray-900 w-3/4 shadow-md flex flex-col justify-center items-center gap-10 py-5">

      <div class="">
        <app-carousel></app-carousel>
      </div>

      <div class="py-10 flex flex-col justify-center items-center">
        <p class="text-center font-bold text-4xl pl-4 border-cyan-500 border-l-8 text-white">New Arrival</p>
      </div>

  </div>


</div>
